//BOOK
.aboutMeSection {
}
.book {
  border-radius: 10px;
  box-shadow: 1px 1px 12px #000;
  transform: preserve-3d;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: #fef3ea;
  height: 250px;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  font-family: fontacover;
  @include tablet {
    height: 26rem;
    position: sticky;

    p {
      opacity: 1;
    }
  }

  &__text {
    color: black;
    text-align: center;
    margin-left: 2rem;
    margin-right: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: fontBook;
    @include tablet {
      font-size: 39px;
    }
    @include desktop {
      padding-top: 100px;
    }
  }

  .cover {
    top: 0;
    position: absolute;
    background-color: #fef3ea;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: black;
  }
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.cover__text {
  font-size: 40px;
  font-weight: bolder;
  color: black;
  background-color: white;
  @include tablet {
    font-size: 50px;
  }
}
.divCv {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  @include tablet {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 30px;
    margin-top: 20px;
    @include tablet {
      font-size: 45px;
    }
  }
}

// Button CV

.cvLink {
  color: #fef3ea;
}
.buttonCV {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: #2c3e50;
  letter-spacing: 2px;
  @include tablet {
    margin-top: 30px;
    font-size: 30px;
  }
}

.buttonCV::after,
.buttonCV::before {
  transition: all 0.2s ease-in-out;
}

.buttonCV::before {
  z-index: -1;
  position: absolute;
  content: '';
  left: -2em;
  right: -2em;
  top: -2em;
  bottom: -2em;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2c3e50 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    /*  */
      radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2c3e50 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2c3e50 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%, 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
    20% 20%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
    65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
    64% 70%, 80% 71%;
}

.buttonCV:hover::before {
  background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%,
    100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%,
    100% 100%;
  background-size: 0% 0%;
  transition: background-position 0.5s ease-in-out,
    background-size 0.75s ease-in-out;
}
