@import '../core/mixin.scss';

.carousel .thumbs-wrapper {
  display: none;
  @include tablet {
    display: block;
    margin: 20px;
    overflow: hidden;
    text-align-last: center;
  }
}
.MyCarousel__div--legend {
  font-size: 10px;
  margin-top: 15px;

  text-align: center;

  @include tablet {
    font-size: 15px;
    opacity: 1;
    transition: all 0.5s;
  }
}

.fa-brands {
  margin-top: 5px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: #2c3e50;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #2c3e50;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #2c3e50;
}
.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 11px;
  margin-top: 5px;
  margin-right: 3px;
  border-radius: 6px;
  background-color: rgb(240, 160, 160);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
  color: #2c3e50;
  @include tablet {
    right: 17px;
    font-size: 19px;
    color: #2c3e50;
  }
}
.carousel.carousel-slider {
  position: relative;
  padding-bottom: 15px;
  background-color: #fef3ea;
  border-radius: 15px;
  box-shadow: 1px 1px 12px #000;
}
.carousel.carousel-slider .control-arrow {
  bottom: 0;
}
.carousel .control-dots .dot {
  background-color: #2c3e50;
}
.carousel img {
  width: 100%;
  margin-top: 4px;
  display: inline-block;
  pointer-events: none;
}
.carousel .slide img {
  width: 70%;
  vertical-align: top;
  border: 1;
}
.carousel .thumbs {
  transition: all 0.15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: break-spaces;
}
