@import '../core/mixin.scss';
.carousel .thumbs-wrapper {
  display: none;
  @include tablet {
    display: block;
    margin: 20px;
    overflow: hidden;
    text-align-last: center;
  }
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid black;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid black;
  // margin-left: 13rem;
  // transform: translate(14rem, 0);
}

// .carousel .thumbs {
//   white-space: normal;
//   transition: auto;
// }

// .carousel .slide .legend {
//   display: none;
// }
