.skillsArt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillsArt__list {
  color: $text-color;
}
.skillsArt__text {
  color: $primary-color;
  align-content: center;
}
.iconStyle {
  width: 2rem;
  height: 2rem;
}
.skillsArt__list {
  display: flex;
  flex-direction: row;
}
