// fonts

$font-main: 'EB Garamond', serif;
$font-secondary: 'Shadows Into Light', cursive;

$primary-color: #ad76e3;
$secondary-color: white;

$statement-color: #acf069;
$icons-color: #584d63;
$primary-font-color: #2f213d;

//Color gradiante (lila - azul): Linear horizontal de AD76E3 a 8676E3

$color-lilac: #dbbfde; //(lila claro)
$color-darkgreen: #a0b59f; //(verde oscuro)
$color-darkblue: #91b3b1; //(azul oscuro)
$color-darklilac: #a38aa8; //(lila oscuro)

$defaultFontSize: 16;
@function rem($pixels) {
  @return ($pixels/$defaultFontSize * 1rem);
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

//Mixins
@mixin t($fontSize, $fontHeight) {
  font-size: $fontSize;
  line-height: $fontHeight;
}

@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}
