// fonts

// $font-main:
// $font-secondary:

// $primary-color:
// $secondary-color:

$defaultFontSize: 16;
@function rem($pixels) {
  @return ($pixels/$defaultFontSize * 1rem);
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

//Mixins
@mixin t($fontSize, $fontHeight) {
  font-size: $fontSize;
  line-height: $fontHeight;
}

@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}
