// fonts

$font-title: 'Roboto', sans-serif;

// $font-secondary:

$primary-color: #dfa01e;
$secondary-color: rgb(16, 33, 51);
$text-color: #daf3ff;

$defaultFontSize: 16;
@function rem($pixels) {
  @return ($pixels/$defaultFontSize * 1rem);
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
